#backBtn {
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    background-color: #dca336;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
    font-size: 20px;
    margin: 4px 2px;
}


#dloadBtn {
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    background-color: #dca336;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}